#message-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#message-container.show-offline-screen,
#message-container.show-error-screen {
  display: block;
}
.throbber {
  margin: 100px auto;
}
/*
  Header
 */
.header-artist.has-custom-image {
  background-position: center center;
}
#creator-about iframe {
  width: 100%;
  border: none;
  overflow-y: hidden;
  min-height: 950px;
}
/*
  RELATED ARTISTS SUMMARY
*/
@media (max-width: 853px) {
  .col-hidden {
    display: none;
  }
}
/*
  TOP TRACKS Listings
*/
#toplist-row .tracklist-popular {
  margin-bottom: 20px;
}
/* related artists pane - expanded */
.list-group.no-latest-release .list-group-item:nth-child(n+9) {
  display: none;
}
.row.summary {
  margin-bottom: 0;
  /* related artists pane - not expanded */
}
.row.summary .tracklist-popular tr:nth-child(n+6) {
  display: none;
}
.row.summary .tracklist-popular tr:nth-child(5) td {
  border-bottom: 1px solid #282828;
}
.row.summary .list-group.no-latest-release .list-group-item:nth-child(n+5) {
  display: none;
}
.row.summary .list-group.has-latest-release .list-group-item:nth-child(n+8) {
  display: none;
}
.no-top-tracks {
  align-items: center;
  border: 1px solid #282828;
  display: flex;
  height: 235px;
  margin-top: 30px;
  padding: 0 18px;
  text-align: center;
}
.no-top-tracks h3 {
  margin-top: 0;
}
/*
  Artist Tour / Concert section
*/
.tours a:hover {
  text-decoration: none;
}
.tours a:hover .calendar-icon .calendar-icon-day {
  background-color: #FFFFFF;
}
.tours .tour-details {
  line-height: 1.3;
}
.tours .tour-caption {
  color: #A0A0A0;
}
.tours .tour-title {
  color: #FFFFFF;
}
.tours .tour-location {
  color: #A0A0A0;
}
/*
  Modal popover
*/
.modal .popover-content {
  min-height: 328px;
  position: relative;
}
/*
  Merch
*/
.merch-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.merch-item {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 20px;
  background-color: #fff;
}
.merch-item a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border: none;
}
.merch-item a span {
  height: 100px;
  width: 100px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.merch-info {
  font-size: 11px;
  overflow: hidden;
  line-height: 14px;
}
.merch-info div {
  margin-bottom: 2px;
}
.merch-link {
  cursor: pointer;
}
.merch-popup-image {
  background-color: #FFFFFF;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.merch-popup-image div {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.merch-popup-description {
  color: #FFFFFF;
  height: 240px;
  padding-left: 314px;
  overflow-y: auto;
}
.merch-popup-description div {
  margin-bottom: 10px;
}
.merch-popup-buttons {
  position: absolute;
  bottom: 14px;
  left: 328px;
}
.merch-popup-legal {
  color: #999;
  font-size: .85em;
  padding: 10px;
  position: absolute;
}
.socialproof-popup .group-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'spotify-circular', 'Helvetica Neue', Helvetica, Arial, 'Yu Gothic UI', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: normal;
}
#related {
  margin-top: 38px;
}
/* DISCOGRAPHY */
.discography .header-inline.header-album {
  margin-bottom: 20px;
}
.discography ul.lists li.release-node {
  margin-bottom: 40px;
}
.discography .carousel .release-node {
  margin-bottom: 20px;
}
/* CAROUSEL CONTROLS */
.discography .section-auxiliary.crsl-3-item,
.discography .section-auxiliary.crsl-4-item,
.discography .section-auxiliary.crsl-6-item {
  display: none;
}
@media (max-width: 1274px) {
  .discography .section-auxiliary.crsl-6-item {
    display: block;
  }
}
@media (max-width: 854px) {
  .discography .section-auxiliary.crsl-6-item,
  .discography .section-auxiliary.crsl-4-item {
    display: block;
  }
}
/* NOTIFICATION BOX (RELEASE WINDOW, CUSTOM MESSAGE ETC.) */
.notification-box {
  border: 1px solid #282828;
  color: #A0A0A0;
  text-align: center;
  padding: 38px 70px;
}
.release-windowed .header-inline.header-album {
  margin-bottom: 15px;
}
.release-window-message {
  margin-bottom: 20px;
}
.custom-message {
  margin: 20px 0 0 0;
}
/**
 * Artist assets edit CTA's.
 */
.edit-header-image-cta {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 10;
}
.edit-header-image-cta .container {
  text-align: right;
}
/**
 * Extra styles for
 * 'ck-related-artists-reporting styling' test.
 * Will be removed after test is complete.
 */
.related-artists-report-show.button {
  cursor: pointer;
}
.related-artists-report-modal .throbber {
  margin: 10px auto;
}
